<!doctype html>
<html lang="en">
{# dans Symfony, les vues se placent dans un dossier templates/ en dehors de src/ et Twig est préconfiguré pour aller chercher les fichiers ici #}
<head>
   <meta charset="UTF-8">
   <title>Wild Series</title>
</head>
<body>
   {# <h1>{{ website }} index</h1> #}
   <h1>Bienvenue</h1>
</body>
</html>